/* *{
    margin: 0;
    color: blueviolet;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
} */

.hidden{
    display: none;
}

#email-form{
    width: 400px;
}

.input-form{
    width: 200px !important;
}

.input-tambahan{
    background-color: brown;
}

p{
    background-color: rgb(4, 245, 65);
}

div{
    /* border: solid 1px red;
    border: dashed 1px red;
    border: dotted 1px red; */
    /* border-top: solid 1px red; */
    border-left: solid 1px green;
    border-bottom: dashed 1px blue;

    border-top-color: red;
    border-top-width: 2px;
    border-top-style: double;

    padding: 10px 20px 30px 40px;
    margin: 40px 0;
}


#div3{
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border: solid 3px green;
    border-radius: 56px;
}

div.header, div.menu , div.header2, div.menu2, div.rowMenu2, div.rowMenu{
    border: solid 1px black;
    height: 70px;
    padding: 0;
    margin: 0;
}

div.rowMenu{
    float: right;
    width: 250px;
}

div.menu{
    border-color: red;
    width: max-content;
    float: left;
    margin-right: 10px;
}

div.header2{
    display: flex;
    width: 100%;
    /* flex: 1; */
}

div.rowMenu2{
    /* border: dashed 1px blue; */
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

div.menu2{
    border-color: red;
    margin-left: 10px;
    justify-self: flex-end;
}