@import url('./my.css');

body{
    margin: 0;
    padding: 0;
}

.dot{
    margin: 10px 10px;
    border: 1px solid black;
    display: inline-block;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px grey;
}

.dot:hover{
    margin: 10px 10px;
    border: 1px solid black;
    display: inline-block;
    background-color: gold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: none;
}

.boxDots{
    text-align: center;
}

.boxDots:hover{
    text-align: center;
    background-color: black;
}

.dotWht{
    margin: 10px 10px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px grey;
}

.dotWht:hover{
    background-color: red;
}