@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");

/* .background{
    background-image: url("./img/parkir.jpg");
    height: 500px;
} */

.hidden{
    display: none;
}
