.showDataMahasiswa, .showDataDosen{
    width: 80%;
    height: 500px;
    background-color: silver;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
}

.showDataNilaiMahasiswa, .showDataMhs{
    width: 90%;
    height: 500px;
    background-color: silver;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
}

.data-mahasiswa, .data-dosen{
    height: 380px;
}

.data-mahasiswa table, .data-dosen table{
    color: #06125D;
}

.inputMahasiswa, .inputDosen{
    margin: auto;
    margin-top: 80px;
    padding: 50px 50px;
    background-color: silver;
    width: 550px;
    border-radius: 20px;
}

.inputNilai{
    margin: auto;
    margin-top: 30px;
    padding: 30px 50px;
    background-color: silver;
    width: 600px;
    border-radius: 20px;
}

.btn{
    background-color: #06125D;
}

.btn:hover{
    background-color: gold;
    color: #06125D;
}