@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");
@import url("./login.css");
@import url("./pagination.css");
@import url("./admin.css");

* {cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1569.cur), auto !important;}
a, button {cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1570.cur), auto !important;}

/* * {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth928.cur), auto !important;} */
/* a, button {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth929.cur), auto !important;} */
/* * {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth916.cur), auto !important;} */
/* * {cursor: url(https://cur.cursors-4u.net/toons/too-11/too1005.ani), url(https://cur.cursors-4u.net/toons/too-11/too1005.png), auto !important;} */


body{
    padding: 0px;
    margin: 0px;
}

.page{
    background-image: url("../img/pic2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav{
    background-color: #06125D;
}

nav img{
    font-size: 10px;
    height: 35px;
}

.navbar-nav .nav-item .nav-link{
    color: white;
}

.hidden{
    display: none;
}
