.form{
    margin-top: 100px;
}

.form form{
    width: 500px;
    border-radius: 20px;
    background-color: lightgrey;
    padding: 20px 20px;
}

.skill-indicator{
    display: flex;
}

.skill-indicator .hidden{
    display: none;
}

.skill-indicator .show{
    display: block;
}

.skill-indicator .circle{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 2px;
    color: white;
}

.circle-black{
    background-color: black;
    color: black !important;
}

.circle-white{
    background-color: white;
    color: white !important;
}